.r1 {
  background-color: gray;
  margin-bottom: 10px;
}
.r2 {
  background-color: gray;
  margin-bottom: 10px;
  height: 30px;
  text-align: center;
}
.r3 {
  background-color: gray;
  text-align: center;
  margin-top: 10px;
}
.c1 {
  height: 130px;
  float: left;
  padding-top: 50px;
  margin-right: 190px;
  background-color: white;
  text-align: center;
}
.c2 {
  height: 50px;
  margin-top: 10px;
  margin-left: 70px;
  text-align: center;
  background-color: gray;
}
.c3 {
  height: 60px;
  margin-top: 10px;
  padding-top: 50px;
  margin-left: 70px;
  text-align: center;
  background-color: gray;
}
